
a.navbar-dropdown {
	color: #052b3a23;
}

a.navbar-item {
	color: #ffffff;
	font-size: 1em;
}

.modalBgImage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

a.navbar-link {
	color: #052b3a23;
}
div.columns.header-style {
	background-color: #4f3d5a;
}

.media{
	margin-bottom: 8px;
}

.moreInfo{
	margin-top: 0.5em;
	padding: 0.25em 0.5em;
	border: 0.25px;
	border-style: solid;
	border-color:#052b3a23;
	box-shadow: 1px 2px 14px #052b3a23;	
}

.hero-bg {
	background-image: url(../img/hero-bg.png);
}

a.navbar-burger {
	color: #052b3a23;
}

.columns-style{
	margin-left:1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

div.content{
	height: 12em;
}

div.iframe{
	height: 52em;
	width: 60em;
}

 
.modal-style{
	opacity: 0.855;
	
}

.modal-card-body{
	height: 32em;
}

.column-style {
	margin: 0.5em;
	border: 0.25px;
	border-style: solid;
	border-color:#052b3a23;
	box-shadow: 1px 2px 14px #052b3a23;
	min-width: 25em;
	overflow-y: auto;
}

.logo-style{
	width: 25em;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	
}

@media screen and (max-width:768px) {

	.menu {
		display: none;
	}

	.button-style {
		margin: 0.5rem 0;
		width: 100%;
	}

}

@media screen and (min-width:769px) {
	.menu-list-style {
		border: 0.25px;
		border-style: solid;
		border-color:#ffffff;
		border-radius: 8px;
		box-shadow: 1px 2px 4px#ffffff;
		margin: 0.5em;
	}
}