.modalBgImage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}


div.columns.header-style {
	background-color: #4f3d5a;
}

.media {
	margin-bottom: 8px;
}

.moreInfo {
	margin-top: 0.5em;
	padding: 0.25em 0.5em;
	border: 0.25px;
	border-style: solid;
	border-color: #052b3a23;
	box-shadow: 1px 2px 14px #052b3a23;
}

.columns-style {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

div.content {
	height: 12em;
}

.modal-card-style {
	min-width: 60%;

}

.modal-opacity {
	opacity: 0.9;
}

.trailerFrame {
	min-height: 25em;
	width: 68%;
}

.modalFooterStyle {
	width: 100%;
	text-align: center;
	background-color: rgb(5, 5, 5);
	border: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;

}

.mobileMovieIcon {
	display: none;
}

.modal-card-style {
	max-width: 98%;
	font-size: 0.90em;
}

section.modal-card-body {
	min-height: 14.5em;
}

.column-style {
	margin: 0.5em;
	border: 0.25px;
	border-style: solid;
	border-color: #052b3a23;
	box-shadow: 1px 2px 14px #052b3a23;
	min-width: 25em;
	overflow-y: auto;
}

.trailerButton {
	margin-top: 0;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.logo-style {
	width: 25em;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);

}

@media screen and (max-width:450px) {

	.button-style {
		margin: 0.5rem 0;
		width: 100%;
	}

	.column-style {
		max-width: 98%;
		font-size: 0.75em;
	}

	nav {
		max-width: 98%;
	}

	.logo-style {
		width: 96%;
	}

	.movieIcon {
		max-width: 90%;
		max-height: 115%;
	}

}

@media screen and (max-width:768px) {

	.footerTag {
		display: none;
	}


	.modal-card-style {
		max-width: 98%;
		font-size: 0.75em;
	}

	.movieIcon {
		display: none;
	}

	.modalBgImage {
		display: none;
	}

	.mobileMovieIcon {
		display: inline-block;
	}

	header {
		vertical-align: middle;
	}

	section.modal-card-body {
		min-height: 14em;
	}

}